@use "../variables";

.section__banner {
  max-width: 165px;
  height: fit-content;
  background-color: variables.$primary-background;


  a {
    display: block;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }

}