@use "../variables";

.section__categories {
  width: fit-content;
  max-width: 14vw;
  height: fit-content;
  background-color: variables.$primary-background;
  font-size: .8rem;

  .categories__item {
    height: fit-content;
    padding: 4px 30px 4px 8px;
    border-radius: 8px;
    &:hover{
      background-color: variables.$secondary-background;
    }
    a {
      display: inline-block;
      height: 20px;
      color: variables.$dark-gray;
      line-height: 16px;
      text-decoration: none;
      img {
        position: relative;
        top: 5px;
        width: 20px;
        display: inline-block;
      }
    }
  }
}