@use "../variables";

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;

  &__cart {
    width: 40vw;
    min-width: 420px;
    height: fit-content;
    padding: 10px;
    background-color: variables.$primary-background;
    border-radius: 16px;

    h2, .order {
      width: fit-content;
      padding: 4px 10px 5px;
      background-color: variables.$active;
      border-radius: 10px;
      color: variables.$primary-light;
      font-size: 1.2rem;
    }
    .order {
      font-weight: bold;
      text-decoration: none;
    }

    .cart__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      #close-btn {
        appearance: none;
        width: 38px;
        height: 38px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        background-image: url('/img/icons/close.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: grayscale(100%) contrast(100%) invert(.7);


        &:hover {
          filter: grayscale(100%) contrast(100%);
        }
      }
    }

    .cart__list {
      list-style: none;
      border: 2px solid variables.$secondary;
      border-radius: 16px;

      .cart__item {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-right: 10px;
        margin: 10px 20px;
        border-bottom: 1px solid variables.$gray;

        &:last-child {
          border-bottom: none;
        }

        img {
          width: 80px;
          height: 80px;
        }

        .item__details {
          flex-grow: 1;
        }

        .item__actions {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          min-width: 120px;
          .actions__price {
            width: fit-content;
            font-size: 1.3rem;
            font-weight: bold;
          }

          .actions__quantity-actions {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            height: 25px;

            input {
              width: 30px;
              height: 25px;
              border: none;
              border-top: 1px solid variables.$gray;
              border-bottom: 1px solid variables.$gray;
              text-align: center;
              font-size: 1.2rem;
            }
            button {
              appearance: none;
              width: 25px;
              height: 25px;
              background-color: transparent;
              border: 1px solid variables.$gray;
              outline: none;
              font-size: 1.5rem;
              cursor: pointer;
              background-size: 80%;
              background-repeat: no-repeat;
              background-position: center;

              &:first-child {
                border-radius: 8px 0 0 8px;
                background-image: url('/img/icons/minus.svg');
              }
              &:last-child {
                border-radius: 0 8px 8px 0;
                background-image: url('/img/icons/plus.svg');
              }
            }
          }

        }
      }
    }

    .cart__price-block {
      display: none;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1.1rem;

      p {
        margin-right: 10px;
      }

      h4 {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: normal;

        &::after {
          content: "$";
          width: 100%;
          height: 100%;
          font-weight: normal;
        }
      }
    }

    .cart__bottom {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
}