@use "../variables";

.search__response {
  position: absolute;
  top: 47px;
  left: 0;
  width: 100%;
  max-height: 80vh;
  padding: 5px 15px !important;
  background-color: variables.$primary-background;
  border: 2px variables.$gray solid;
  border-radius: 8px;
  overflow-y: auto;
  z-index: 12;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  .response__not-found {
    color: variables.$dark-gray;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
  }
  .search__response-list {

    .search__response-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 5px 10px 5px 5px;
      border-radius: 8px;
      text-decoration: none;
      color: variables.$primary;

      &:hover {
        background-color: rgba(215, 79, 52, .2);
      }

      img {
        width: 85px;
        height: 85px;
      }
      
      .item__title {
        flex-grow: 1;
        font-weight: normal;
        text-align: left;
      }

      .item__price {
        width: 110px;
        text-align: right;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }
  }
}
