@use "../variables";

.section__top-products {
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background-color: variables.$primary-background;
  border-radius: 16px;

  .top-products__slide {

    img {
      width: 11.4vw;
      height: 11.4vw;
      object-fit: contain;
    }
  }

  .swiper-slide-active {
    border: none;
  }

  .top-products__pag-next,
  .top-products__pag-prev {
    width: 30px;
    height: 30px;
  }
  .top-products__pag-next {
    background-image: url('/img/swiper/arrow-right.svg');
    background-size: contain;
  }
  .top-products__pag-prev {
    background-image: url('/img/swiper/arrow-left.svg');
    background-size: contain;
  }
}