@use "../variables";

.category-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  &__title {
    width: fit-content;
    padding: 0 15px;
    margin: 0 auto 25px;
    background-color: variables.$secondary;
    border-radius: 10px;
    color: variables.$primary-light;
    font-size: 2.2rem;
    font-weight: bold;
  }
}

.products-list {
  max-width: 1375px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(5, 18.5%);
  grid-template-rows: auto;
  justify-content: space-around;

  .products__empty-message {
    text-align: center;
    font-size: 1.2rem;
    color: variables.$dark-gray;
    padding: 40px 0;
  }

  .products__item {
    margin-bottom: 15px;
    background-color: variables.$primary-background;
    border: 1px solid variables.$gray;
    border-radius: 12px;
    padding: 20px 20px 15px;
    text-align: center;
    transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;

    &:hover {
      box-shadow: 0 4px 20px 0 rgba(50,50,50,0.15);
      transform: translateY(-5px);
      z-index: 5;
    }

    .img {
      min-width: 200px;
      min-height: 200px;
    }

    h4 {
      color: variables.$primary;
    }
  }

}