@use '../variables';

.home-page__main {
  display: flex;
  gap: 10px;
  padding-top: 10px;

  h2 {
    width: fit-content;
    padding: 4px 10px 5px;
    margin: 0 10px 10px;
    background-color: variables.$active;
    border-radius: 10px;
    color: variables.$primary-light;
  }

  aside {
    flex-grow: 1;
    padding: 8px;
    border-radius: 16px;
  }

  .mian-inner {
    max-width: 67vw;
    flex-grow: 3;

    .discount-banner {
      margin-bottom: 10px;

      img {
        border-radius: 16px;
      }
    }

  }
}