.home-page {

  .main-section {
    display: flex;
    gap: 10px;
    padding-top: 10px;

    aside {
      flex-grow: 1;
      padding: 8px;
      border-radius: 16px;
    }

    .mian-inner {
      max-width: 67vw;
      flex-grow: 3;

      .discount-banner {
        margin-bottom: 10px;

        img {
          border-radius: 16px;
        }
      }

    }
  }
}